In [1]:
source(file = "util.r")

In [2]:
install_packages(c('forecast', 'zoo', 'xts', 'ggplot2'), quietly=TRUE, warn.conflicts=FALSE) # explicitly add zoo to hide warning messages

In [3]:
data = get_bond_yields_uk_10y_data('quarterly_csv.csv')

In [4]:
head(data)

  Date       Rate
1 1984-03-31 10.9817
2 1984-06-30 11.5721
3 1984-09-30 11.9866
4 1984-12-31 11.1937
5 1985-03-31 11.6959
6 1985-06-30 11.3342

In [5]:
data.ts = ts(data$Rate, start = c(1984, 03), frequency = 4)

In [6]:
frequency(data.ts)

[1] 4

In [7]:
data.ts  # see here for jupyter error - https://github.com/IRkernel/repr/issues/97

ERROR while rich displaying an object: Error in repr_matrix_generic(obj, "\n%s%s\n", sprintf("|%%s\n|%s|\n", : formal argument "cols" matched by multiple actual arguments

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_markdown.ts(obj)
9. repr_ts_generic(obj, repr_markdown.matrix, ...)
10. repr_func(m, ..., rows = nrow(m), cols = ncol(m))

     Qtr1    Qtr2    Qtr3    Qtr4
1984                 10.9817 11.5721
1985 11.9866 11.1937 11.6959 11.3342
1986 10.8519 10.7861 10.7366  9.1066
1987  9.8473 11.1436  9.9135  9.1440
1988 10.0080  9.7790  9.6146  9.5053
1989 10.0487  9.9923  9.9431 10.3844
1990 10.1543 10.5856 11.5444 12.1725
1991 11.9184 11.2700 10.3594 10.4031
1992 10.0204  9.7633  9.5340  9.2368
1993  9.2197  8.4937  8.0831  8.0837
1994  7.3236  6.7783  6.8781  8.2991
1995  8.6962  8.6666  8.6595  8.2308
1996  8.1091  7.8023  7.7483  8.0674
1997  7.8531  7.5685  7.4061  7.3234
1998  6.9875  6.5013  6.0444  5.8191
1999  5.5210  4.8223  4.4674  4.8991
2000  5.4991  5.5267  5.5986  5.3093
2001  5.3193  5.0838  4.7906  5.0903
2002  5.0611  4.7772  5.0175  5.2065
2003  4.7575  4.6070  4.3119  4.2637
2004  4.5715  4.9528  4.7649  5.0929
2005  5.0088  4.6639  4.6446  4.4392
2006  4.2786  4.2947  4.1870  4.6158
2007  4.6211  4.5922  4.8606  5.2126
2008  5.1897  4.7998  4.5223  4.9037
2009  4.7878  4.1650  3.5295  3.5872
2010  3.7335  3.7361  4.0540  3.8196
2011  3.2904  3.3295  3.7799  3.5489
2012  2.8602  2.3362  2.2191  1.9727
2013  1.6814  1.7949  2.0782  2.0069
2014  2.6684  2.7887  2.8376  2.7423
2015  2.5908  2.1151  1.7074  1.9884
2016  2.0016  1.9147  1.6072  1.4684
2017  0.8393  1.2970  1.3032  1.0942
2018  1.2116  1.3323  1.4982  1.4779
2019  1.4227  1.4452